<button
  class="item-button"
  data-item-id="{{item._id}}"
  data-action="selectWeapon"
><img src="{{this.meleeWeapon.img}}" alt="{{this.meleeWeapon.name}}" /></button>
<button class="item-button" data-item-id="{{item._id}}"><img
    src="{{this.rangedWeapon.img}}"
    alt="{{this.rangedWeapon.name}}"
  /></button>