<button
  class='item-button'
  data-item-id='{{this.meleeWeapon._id}}'
  data-action='useItem'
><img src='{{this.meleeWeapon.img}}' alt='{{this.meleeWeapon.name}}' /></button>
<button
  class='item-button'
  data-item-id='{{this.rangedWeapon._id}}'
  data-action='useItem'
><img
    src='{{this.rangedWeapon.img}}'
    alt='{{this.rangedWeapon.name}}'
  /></button>