<button
  class='item-button'
  data-drag='true'
  data-item-id='{{equipmentTray.meleeWeapon._id}}'
  data-action='useItem'
  data-index='meleeWeapon'
><img
    src='{{equipmentTray.meleeWeapon.img}}'
    alt='{{equipmentTray.meleeWeapon.name}}'
  /></button>
<button
  class='item-button'
  data-drag='true'
  data-item-id='{{equipmentTray.rangedWeapon._id}}'
  data-action='useItem'
  data-index='rangedWeapon'
><img
    src='{{equipmentTray.rangedWeapon.img}}'
    alt='{{equipmentTray.rangedWeapon.name}}'
  /></button>