<div class='spell-item-container'>

  {{#if (eq @root.currentTray.id 'ritual')}}
    <img
      src='{{item.img}}'
      alt='{{item.name}}'
      data-item-id='{{item._id}}'
      data-index='{{@index}}'
    />
  {{else}}
    {{#if (eq @root.currentTray.type 'static')}}
      {{#if (eq item.system.level @root.currentTray.spellLevel)}}
        <img
          src='{{item.img}}'
          alt='{{item.name}}'
          data-item-id='{{item._id}}'
          data-index='{{@index}}'
        />
      {{else}}
        <img
          src='{{item.img}}'
          alt='{{item.name}}'
          data-item-id='{{item._id}}'
          data-index='{{@index}}'
          class='spell-item-container-img-upcast'
        />
        <div class='spell-item-container-text-upcast'>+</div>
      {{/if}}
    {{else}}
      <img
        src='{{item.img}}'
        alt='{{item.name}}'
        data-item-id='{{item._id}}'
        data-index='{{@index}}'
      />
    {{/if}}
  {{/if}}

  <div class='spell-item-container-text'>{{getRomanNumeral
      item.system.level
    }}</div>

</div>