<div class='spell-item-container'>

  {{#if (eq tray.id 'ritual')}}
    <img
      src='{{item.img}}'
      alt='{{item.name}}'
      data-item-id='{{item._id}}'
      data-index='{{@index}}'
    />
  {{else}}
    {{#if (eq tray.type 'static')}}
      {{#if (eq item.system.level tray.spellLevel)}}
        <img
          src='{{item.img}}'
          alt='{{item.name}}'
          data-item-id='{{item._id}}'
          data-index='{{@index}}'
        />
      {{else}}
        <img
          src='{{item.img}}'
          alt='{{item.name}}'
          data-item-id='{{item._id}}'
          data-index='{{@index}}'
          class='spell-item-container-img-upcast'
        />
        <div class='spell-item-container-text-upcast'>+</div>
      {{/if}}
    {{else}}
      <img
        src='{{item.img}}'
        alt='{{item.name}}'
        data-item-id='{{item._id}}'
        data-index='{{@index}}'
      />
    {{/if}}
  {{/if}}
  {{#if (eq item.system.uses.max '')}}
    <div class='spell-item-container-text'>{{getRomanNumeral
        item.system.level
      }}</div>
  {{else}}
    <div class='consumable-count'>
      {{item.system.uses.value}}
      /
      {{item.system.uses.max}}</div>
  {{/if}}

</div>