<div class='tooltip-container'>
  <div class='tooltip-header'>
    <h2>{{name}}</h2>
    <p class='tooltip-subtitle'>{{capitalize type}}</p>
  </div>

  <div class='tooltip-damage'>

    <h3>{{damageCal item}}</h3>
    {{#if @root.diceFormula}}
      <div class='damage-type'>{{@root.diceFormula}}
      </div>
    {{/if}}

  </div>

  <div class='tooltip-description'>

    {{system.description.value}}

  </div>

  <div class='tooltip-info'>
    {{#if system.range.reach}}
      <span class='range-icon'><i class='fa-solid fa-swords'></i></span>
      {{system.range.reach}}
      ft. Melee
    {{/if}}
    {{#if system.range.value}}
      {{#if (eq system.type spell)}}
        <span class='range-icon'><i
            class='fa-solid fa-wand-sparkles'
          ></i></span>
      {{else}}
        <span class='range-icon'><i class='fa-solid fa-bow-arrow'></i></span>
      {{/if}}
      {{system.range.value}}
      {{#if system.range.long}}
        /
        {{system.range.long}}
      {{/if}}
      ft.
    {{/if}}
    <span>
      {{#if @root.saveType}}
        <i class='fa-solid fa-shield-halved'></i>{{@root.saveType}}
      {{/if}}
    </span>

    {{!-- <span class='save-icon'>🛡️</span>
    {{saveType}}
    Save --}}
  </div>

  <div class='tooltip-footer'>
    <span class='action-tag'>{{@root.actionType}}</span>
  </div>
</div>